table{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    border: 1px solid black;
    padding: 5px;
}
td{
    border: 1px solid black;
    padding: 10px;
}
ul > li{
    color: blue;
}
ol > li{
    color: rosybrown;
}
p{
    color: blueviolet;
}
a[href="https://facebook.com"]{
    color:red;
}
a[href="https://amazon.com"]{
    color: chocolate;
}
a[href="https://google.com"]{
    color: black;
}
button{
    font-size: 24px;
    width: 200px;
    height: auto;
    
}
button:hover{
    background-color: orange;
}
@media (min-width:800px) {
    body{
        background-color: lightblue;
    }
}
@media (max-width:799px) {
    body{
        background-color: lightcoral;
    }
}